.header {
    width: 100px;
    height: auto;
}

.logout {
    border: 1px solid #E62F2E;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    :hover {
        color: white;
        background-color:#E62F2E;
    }
}